<!doctype html>
<html>

<head>
  <title>Boggle Game</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets//jquery/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</head>

<body class="container h-100">
  <div class="overlay"></div>
    <div class="card">
      <div class="card-title">
        <h1>Boggle Game</h1>
      </div>
      <div class="card-body">

      </div>
      </div>
    </div>
  <!-- <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form> -->
</body>

</html>