@font-face {
    font-family: 'Strasua';
    src: url('../fonts/Strasua-Regular.woff2') format('woff2'),
        url('../fonts/Strasua-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

