html,
body {
    height: 100%;
    font-family: 'Strasua', Arial, sans-serif;
    font-size: 50pt;

}

.container-fluid {
    display: flex;
    margin: 0;
    padding: 0;
    color: #fff;
    flex-direction: column;
    background-image: url("/img/bg.jpg");
    background-size: cover;
    align-items: center;
}

.word-cosmos,
label,
h1,
h2,
h3,
h4,
h5 {
    background: -webkit-linear-gradient(rgb(136, 196, 236), rgb(74, 194, 250), rgb(99, 101, 228));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 255);
    text-shadow: rgb(74, 194, 250) 0px 10px 10px;
}

.link-instruc {
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 255);
}

.link,
.count {
    text-align: center;
    background: -webkit-linear-gradient(rgb(255, 165, 0), rgb(241, 255, 119));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: rgb(255, 165, 0) 0px 10px 10px;
}

.overlay {
    display: none;
    position: fixed;
    /* Sit on top of the page content */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(86, 39, 216, 0.5);
    /* Black background with opacity */
    z-index: 3;
    /* Specify a stack order in case you're using a different order for other elements */
}

#particles-js {
    position: fixed;
    /* Sit on top of the page content */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.logo-banner {
    order: 1;
    z-index: 1;
    height: 15%;
    width: 90%;
    margin: 20% auto;
}

.logo {
    height: 100%;
    width: 100%;
}

/* Mobile first queries */

/* For mobile phones: */

.send,
.submit{
    background-color: rgb(80, 164, 248);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(220, 220, 220, 0.3), rgba(255, 255, 255, 0.1));
    border: 4px solid rgb(80, 164, 248);
    box-shadow: 0 0 10px 10px rgba(80, 164, 248, 0.5);
    border-radius: 10px;
    font-size: 25pt;
    text-align: center;
}

input {
    background-color: rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(220, 220, 220, 0.3), rgba(255, 255, 255, 0.1));
    border: 4px solid rgb(80, 164, 248);
    box-shadow: 0 0 10px 10px rgba(80, 164, 248, 0.5);
    border-radius: 10px;
    text-align: center;
    height: 25%;
    width: 100%;
}

.submit {
    margin: 0;
    padding: 2%;
    height: 15% !important;
    width: 50% !important;
}

.send:hover,
.submit:hover {
    background-color: rgb(77, 41, 236);
}

.login-body {
    order: 2;
    display: flex;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3);
    border: 4px solid rgb(80, 164, 248);
    box-shadow: 0 0 10px 10px rgba(80, 164, 248, 0.5);
    border-radius: 10px;
    width: 90%;
    height: 30%;
    align-items: center;
}

.username-container {
    text-align: center;
    flex: 1;
    flex-basis: 100%;
    padding: 0 30%;
}

.username{
    margin: 0;
    color: rgb(80, 164, 248);
    font-size: 25pt;
}

.header-player,
.header-score {
    margin: 0;
    color: rgb(80, 164, 248);
    font-size: 40pt;
    flex: 1;
    text-align: center;
}

/* .header-overlay, .header-label, .header-divider, .header-timer{
    border-radius:  10px;
    background-image: linear-gradient(rgb(105, 105, 105), rgb(220, 220, 220),rgb(255, 255, 255));
} */

.header-divider,
.header-timer {
    height: 75%;
    width: 25%;
}

.header {
    order: 1;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    height: 20%;
    font-size: 30pt;
    background-image: url('/img/TopBarcon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.header-label {
    order: 1;
    width: 50%;
}

.header-divider {
    order: 2;

}

.header-timer {
    order: 3;
}

.timer,
.gamelink-container,
.playercount-container,
.game-widget,
.score-board {
    background-image: linear-gradient(rgba(105, 105, 105, 0.5), rgba(220, 220, 220, 0.5), rgba(205, 205, 205, 0.5));
    border: 4px solid rgb(80, 164, 248);
    box-shadow: 0 0 10px 10px rgba(80, 164, 248, 0.5);
    border-radius: 10px;
}

.timer {
    width: 90%;
    height: 90%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
}

.body-container {
    order: 2;
    display: inline-flex;
    flex-direction: row;
    height: 70%;
    width: 90%;
}

.gamelink-container {
    order: 1;
    flex: 8;
    margin: 1%;
}

.playercount-container {
    order: 2;
    flex: 4;
    margin: 1%;
}

.link-instruc {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-size: 30pt;
    text-align: center;

}

.word-cosmos {
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

.count {
    font-size: 200pt;
}

.game{
    display: inline-flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
}

.h-40{
    height: 40% !important;
}

.game-widget-container{
    display: flex;
    order: 1;
    flex-direction : column;
    width: 25%;
    height: 80%;
    margin: 1%;
    justify-content: space-between;
    align-content: space-between;
}

.game-widget{
    height: 25%;
    margin: 1%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
}

.words-input-container {
    order: 3;
    z-index: 1;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.words-input{
    color: #fff;
    font-size: 23pt;
    height: 60%;
    width: 80%;
    margin: auto;
}

.send{
    color: #fff;
    font-size: 23pt;
    height: 60%;
    width: 15%;
    margin: auto;
}

.word {
    color: white;
}

.score-board{
    flex-basis: 80%;
}

.scores{
    display: flex;
    justify-content: space-between;
}

.score{
    flex: 1;
    font-size: 30pt;
    text-align: center;
}

.score-board-header{
    text-align: center;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {

    html,
    body {
        font-size: 40pt;
    }

    .logo-banner {
        height: 20%;
        width: 40%;
        margin: 5% auto;
    }

    .login-body {
        width: 80%;
        height: 40%;
    }

    .header h4 {

        font-size: 45pt;

    }

}

/* Larger than desktop */
@media (max-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}