<!doctype html>
<html>

<head>
  <title>Boggle Game</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/normalize.css">
   <link rel="stylesheet" href="/fonts/font.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets//jquery/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</head>

<body>
  <div class="container-fluid h-100">
    <div class="overlay"></div>
   <div class="header">
     <!-- <div class="header-overlay"> -->
        <div class="header-label">
            <h4>Connecting Players</h4>
         </div>
         <div class="header-divider"></div>
         <div class="header-timer">
           <div class="timer">
              <h4>Timer</h4>
           </div>
         </div>
     <!-- </div> -->
   </div>
   <div class="body-container">
     <div class="gamelink-container"><h1>Link</h1></div>
     <div class="playercount-container"><h1>Count</h1></div>
   </div>
  </div>
</body>

</html>