<!doctype html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Word Cosmos</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/fonts/font.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets//jquery/jquery.min.js"></script>
  <script src="/assets/particles/particles.min.js"></script>
</head>

<body>
  <div id="particles-js"></div>
  <div id="app"class="container-fluid h-100">
    <div class="overlay"></div>
    <div class="header">
      <!-- <div class="header-overlay"> -->
      <div class="header-label">
        <h4>Connecting Players</h4>
      </div>
      <div class="header-divider"></div>
      <div class="header-timer">
        <div class="timer">
          <h4 id="time">10</h4>
        </div>
      </div>
      <!-- </div> -->
    </div>
    <div class="body-container">
      <div class="gamelink-container">
        <p class="link-instruc">To play, please connect your device to the Wi-Fi Router named</p> <p class="word-cosmos">WordCosmos</p><p class="link-instruc"> and visit the link</p>
        <p class="link">http://192.168.0.1</p>
        <div class="d-flex">
        <canvas id="canvas" class="mx-auto"></canvas>
        </div>
      </div>
      <div class="playercount-container">
        <p class="count" id="count">2</p>
        <div>
        <button class="start-game mx-auto">Start Game</button>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/app.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>