html {
    height: 100%;
}

.container {
    display: flex;
    background-image: url("/img/bg.png");
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: fixed;
    /* Sit on top of the page content */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(86, 39, 216, 0.3);
    /* Black background with opacity */
    z-index: 1;
    /* Specify a stack order in case you're using a different order for other elements */
}

.card-title {
    color: white;
    text-align: center;
    background-image: url("/img/logo.png");
    background-size: cover;
}

.card,
.card-body {
    z-index: 1;
    flex: 1;
    flex-basis: 70%;
    background-color: rgba(77, 67, 165);
}