.section--loading{
    .loading--container{
        margin: 15px;

        .word {
            color: white;
        }
        
        .score-board {
            width: 300px;
        }
        
        .scores {
            display: flex;
            justify-content: space-between;
        }
        
        .score {
            flex: 1;
            font-size: 30pt;
            text-align: center;
        }
        
        .score-board-header {
            text-align: center;
        }
    }
}