.section--loading {
    .loading--container {
        .word {
            color: white;
        }

        .loading--board {
            margin: 0 15px;
        }

        .scores {
            display: flex;
            justify-content: space-between;
        }

        .score {
            flex: 1;
            font-size: 30pt;
            text-align: center;
        }

        .loading-board-header {
            font-size: 20px;
            padding: 15px;
            text-align: center;


            span {
                text-align: center;
                color: orange;
            }

            .title,
            .subtitle {
                margin: 20px;
            }

            .header-timer {
                width: 120px;
                margin: 15px;
                padding: 5px;
            }
        }
    }
}