<!doctype html>
<html>

<head>
  <title>Boggle Game</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/normalize.css">
   <link rel="stylesheet" href="/fonts/font.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets//jquery/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</head>

<body>
  <div class="container-fluid h-100">
    <div class="overlay"></div>
    <div class="logo-banner">
      <img class="logo" src="/img/logo.png" /> 
    </div>
    <div class="login-body">
      <div class="username-container mx-auto">
          <label for="username">Username</label>
          <input type="text" name="username" id="username">
      </div> 
    </div>
  </div>
  </div>
</body>

</html>